@model _14_02_2018_Template.Models.Service_Area_Contents

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 

<div>
    <h4>
        @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-warning" })
        Details Service Content
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.service_contents_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_contents_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service_contents_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_contents_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service_contents_icon)
        </dt>

        <dd>
            <i class="@Model.service_contents_icon" style="font-size:25px; color:cadetblue"></i>
        </dd>
    </dl>
</div>