@model _14_02_2018_Template.Models.Feature_Boxes

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-warning" })
            Edit Blog
        </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.feature_boxes_id)

        <div class="form-group">
            @Html.LabelFor(model => model.feature_boxes_title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.feature_boxes_title, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.feature_boxes_title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.feature_boxes_icon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 icon_contain">
                <i onclick="getClass(this)" class="fas fa-pencil-alt"></i>
                <i onclick="getClass(this)" class="fas fa-tv"></i>
                <i onclick="getClass(this)" class="fas fa-bullhorn"></i>
                <i onclick="getClass(this)" class="fas fa-phone-square"></i>
                <i onclick="getClass(this)" class="fas fa-camera-retro"></i>
                <i onclick="getClass(this)" class="fas fa-car"></i>
                <i onclick="getClass(this)" class="fas fa-id-card"></i>
                <i onclick="getClass(this)" class="fas fa-bell"></i>
                <i onclick="getClass(this)" class="fas fa-bus"></i>
                <i onclick="getClass(this)" class="fas fa-chess-rook"></i>
                @Html.EditorFor(model => model.feature_boxes_icon, new { htmlAttributes = new { @class = "form-control icon_name", style = "visibility:hidden", required = "required" } })
                @Html.ValidationMessageFor(model => model.feature_boxes_icon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.feature_boxes_content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.feature_boxes_content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.feature_boxes_content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.feature_boxes_url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.feature_boxes_url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.feature_boxes_url, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


