@model IEnumerable<_14_02_2018_Template.Models.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2> 
    @Html.ActionLink("Add New", "Create", null, new { @class="btn btn-info"})
    Blog 
</h2>
 

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Blog Table
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.blog_title)</th>
                        <th>@Html.DisplayNameFor(model => model.blog_content)</th>
                        <th>@Html.DisplayNameFor(model => model.Category.category_name)</th>
                        <th>@Html.DisplayNameFor(model => model.blog_img)</th>
                        <th>Edit</th>
                        <th>Details</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tfoot> 
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.blog_title)</th>
                        <th>@Html.DisplayNameFor(model => model.blog_content)</th>
                        <th>@Html.DisplayNameFor(model => model.Category.category_name)</th>
                        <th>@Html.DisplayNameFor(model => model.blog_img)</th>
                        <th>Edit</th>
                        <th>Details</th>
                        <th>Delete</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.blog_title.Substring(0, 15)...</td>
                            <td> @item.blog_content.Substring(0, 20)...</td>
                            <td> @item.Category.category_name</td>
                            <td><img src="~/Uploads/@item.blog_img" width="100" /></td>
                            <td>
                                <a href="/Blogs/Edit/@item.blog_id" class="btn btn-warning" style="color:white"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                            <td>
                                <a href="/Blogs/Details/@item.blog_id" class="btn btn-success"><i class="fas fa-info-circle"></i></a>
                            </td>
                            <td>
                                <a href="/Blogs/Delete/@item.blog_id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    } 
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted"></div>
</div>







